/* Three js */
.VrEditorMainStyle {
    background-color: #eee;
    position:relative;
    width: 100%;
    height: 600px;
    z-index: 999;

}

/* Php info top right */
.VrInfoPhpStyle {
    font-size:0.6vw;
    max-font-size: 20pt;
    background:rgba(255, 255, 255, .7);
    color:#000;
    position: absolute;
    text-align: center;
    top: 0;
    left: 40%;
    width: 20%;
    padding: 2px;
}

.bt_textify {
    font-size:0.8vw;
    max-font-size: 20pt;
    background:#000;
    color:#fff;
    opacity: 1;
    margin-top: 5px;
    padding: 2px;
    cursor:pointer;
}

#formdiv{
    font-size: 1vw;
    overflow-y: scroll;
    max-height:40%;
    width:50%;
    position:absolute;
    bottom:0;
    opacity:0.5;
}

#paramsform {
    font-size: 0.6vw;
    background:#eee;
    color:#000;
    padding: 10px;
}

#paramsform input{
    font-size: 0.6vw;
}

.VrGuiContainerStyle {
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    width: 20%;
    padding: 0;
}

/* Progress bar */
.ProgressContainerStyle {
    top: 7em;
    width: auto;
    font-variant: small-caps;
    z-index: 100;
    text-align: center;
    display: none;
}

#progressbar {
    text-align: center;
    background: white;
    width: auto;
    height: 5px;
}

#scene_loading_bar {
    background:#64dee3;
    width:auto;
    height:5px;
}

.enabled {
    color: lime!important;
    cursor:pointer;
}

.enabled:hover {
    text-shadow: #0f0 0 0 0 !important;
}

.disabled {
    background:gray;
    cursor:default;
}



/* Links have red color 
a { color:red }
*/

/* This disables the mouse rotation of canvas 
canvas { pointer-events:none; z-index:10; }
*/

/* Result */
.result {
    margin: 1px;
    font-size: smaller;
}
/* ---------------------------------------------- */

#popUpDiv{
    z-index: 100;
    position: absolute;
    background-color: rgba(123, 123,123, 0.8);
    display: none;
}
#popupSelect{
    z-index: 1000;
}

/* ------------------------------------------ */

.VrWalkInButtonStyle {
    position: absolute;
    width: 20%;
    margin-left: 40%;
    bottom: 12px;
    background-color: rgba(0,0,0,.4);
    border-radius: 6px;
}

.VrWalkInButtonTextStyle {
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

/* ------------ Button full screen ------------------- */
.VrEditorFullscreenBtnBGStyle {
    position: absolute;
    width: 40px;
    right: 12px;
    height: 44px;
    bottom: 12px;
    border-radius: 6px;
    background-color: rgba(0,0,0,.4);
}


.VrEditorFullscreenBtnStyle {
    position: absolute;
    right:3px;
    text-align: center;
    display:block;
    margin: 4px 0 0 0;
    color:white;
    cursor: pointer;
}

.VrEditorFullscreenBtnStyle i {
    font-size: 36px;
}