/* Three js */
.VrEditorMainStyle {
    background-color: #eee;
    position: relative;
    width: 100%;
    min-width:600px;
    height: 600px;
    z-index: 999;
}

/* Php info top right */
.VrInfoPhpStyle {
    font-size: 0.6vw;
    max-font-size: 20pt;
    background: rgba(255, 255, 255, .54);
    color: #000;
    position: absolute;
    text-align: center;
    bottom: 20px;
    right: 0;
    width: 20%;
    padding: 2px;
}

.SaveBtnContainerStyle {
    position: absolute;
    text-align: center;
    top: 7px;
    right: 10px;
    width: auto;
}


#formdiv {
    font-size: 1vw;
    overflow-y: scroll;
    max-height:40%;
    width:50%;
    position:absolute;
    bottom:0;
    opacity:0.5;
}

#paramsform {
    font-size: 0.6vw;
    background:#eee;
    color:#000;
    padding: 10px;
}

#paramsform input {
    font-size: 0.6vw;
}

.VrGuiContainerStyle {
    position: absolute;
    text-align: left;
    top: 48px;
    left: 10px;
    /*width: 20%;*/
    padding: 0;
}

/* Progress bar */
.ProgressContainerStyle {
    top: 7em;
    width: auto;
    font-variant: small-caps;
    z-index: 100;
    text-align: center;
    display: none;
}

#progressbar {
    text-align: center;
    background: white;
    width: auto;
    height: 5px;
}

#scene_loading_bar {
    background:#64dee3;
    width:auto;
    height:5px;
}


/* Links have red color 
a { color:red }
*/

/* This disables the mouse rotation of canvas 
canvas { pointer-events:none; z-index:10; }
*/

/* Result */
.result {
    margin: 1px;
    font-size: smaller;
}

.EditorObjOverlapSelectStyle {
    z-index: 1000;
    position: absolute;
    display: none;
    padding: 12px;
}

.EditorObjOverlapSelectStyle select {
    background-color: rgba(255,255,255,.87);
    border: 1px solid rgba(0,0,0,.12);

}

.VrWalkInButtonStyle {
    position: absolute;
    right: 260px;
    top: 10px;

}

.EditorObjOverlapSelectStyle a {
    width: 48px;
    min-width: 0;
    padding: 0;
    margin: 0;
}


.VrWalkInButtonStyle a i, .EditorObjOverlapSelectStyle a i {
    padding-top: 4px;
}

.VrEditorFullscreenBtnStyle {
    position: absolute;
    right: 90px;
    top: 10px;
}

.VrEditorOptionsBtnStyle {
    position: absolute;
    right: 20px;
    top: 10px;
    width: 48px;
    min-width: 0;
    padding: 0;
    margin: 0;
}

.ToggleUIButtonStyle {
    position: absolute;
    left: calc(50% - 72px);
    top: 2px;
    background: transparent;
}

.ToggleUIButtonStyle i {
    font-size: 48px;
    cursor: pointer;
}

.HierarchyToggleStyle {
    position: absolute;
    top: 140px;
    background: transparent;
}

.HierarchyToggleStyle i {
    cursor: pointer;
}

.HierarchyToggleOn {
    left: 20%;
}

.HierarchyToggleOff {
    left: 0;
}


.HierarchyViewerStyle {
    max-height: 100%;
    width: 20%;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 140px;
    background-color: rgb(244,244,244);
}

.RemoveAssetFromSceneBtnStyle {
    position: absolute;
    left: 372px;
    top: 10px;
    width: 48px;
    min-width: 0;
    padding: 0;
    margin: 0;
}

.RemoveAssetFromSceneBtnStyle i, .VrEditorOptionsBtnStyle i, .EditorTourToggleBtn a i {
    padding-top: 4px;
}

.ObjectManipulationToggle {
    overflow: hidden;
    background: transparent;
    position: absolute;
    top: 10px;
    left: 10px;
}

.ObjectManipulationToggle input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.ObjectManipulationToggle label {
    float: left;
}

.ObjectManipulationToggle label {
    display: inline-block;
    width: 84px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
}

.ObjectManipulationToggle label:hover {
    cursor: pointer;
}

.ObjectManipulationToggle input:checked + label {
    background-color: #3f51b5;
    color:#ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ObjectManipulationToggle label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.ObjectManipulationToggle label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.AxisManipulationBtns {
    position: absolute;
    top: 10px;
    left: 270px;
}

.AxisManipulationBtns a {
    min-width: 0;
    margin: 0 0 0 4px;
    width: 42px;
}

.EditorDimensionToggleBtn {
    position: absolute;
    right: 360px;
    top: 10px;
}

.EditorTourToggleBtn {
    position: absolute;
    right: 460px;
    top: 10px;
}