/* Three js */
#vr_editor_main_div {
    position:fixed;
    top:60px;
    left:0;
    right:0;
    bottom:0;
    background-color: #eee;
    /*min-width:600px;*/
    /*height: 600px;*/
    z-index: 999;
    /*999;*/
}



/* rightPanelToggleOnOff*/
.scenesListToggleStyle {
    position:absolute;
    bottom:0px;
    width: 40px;
    left:0;
    z-index: 1001;
    min-width:30px;
    max-height:400px;
    padding:0;
    display:flex;
}

.scenesListToggleStyle i {
    display:block;
    cursor: pointer;
}

.scenesListToggleOn {
    height: 17%;
}

.scenesListToggleOff {
    height: 4%;
}




/* Php info top right */
.VrInfoPhpStyle {
    /*font-size: 0.6vw;*/
    max-font-size: 20pt;
    background: rgba(255, 255, 255, .54);
    color: #000;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 20%;
    padding: 2px;
}

#save-scene-button {
    position: absolute;
    top: 5px;
    right: 100px;
    height: 20px;
    padding: 0px;
    line-height: 1.4em;
}

#compileGameBtn {
    position: absolute;
    top: 5px;
    right: 0px;
    height: 20px;
    line-height: 1.4em;
}


.HeaderButtonStyle {
    float: right;
    margin-top:5px;
}


#formdiv {
    font-size: 1vw;
    overflow-y: scroll;
    max-height:40%;
    width:50%;
    position:absolute;
    bottom:0;
    opacity:0.5;
}

#paramsform {
    font-size: 0.6vw;
    background:#eee;
    color:#000;
    padding: 10px;
}

#paramsform input {
    font-size: 0.6vw;
}

.VrGuiContainerStyle {
    /*position: absolute;*/
    /*text-align: left;*/
    /*top: 12%;*/
    /*right: 0;*/
    width: 100%;
    /*padding: 0;*/
}

/* Progress bar */
.ProgressContainerStyle {
    top: 7em;
    width: auto;
    font-variant: small-caps;
    z-index: 100;
    text-align: center;
    display: none;
}

#progressbar {
    text-align: center;
    background: white;
    width: auto;
    height: 5px;
}

#scene_loading_bar {
    background:#64dee3;
    width:auto;
    height:5px;
}


/* Links have red color 
a { color:red }
*/

/* This disables the mouse rotation of canvas 
canvas { pointer-events:none; z-index:10; }
*/

/* Result */
.result {
    margin: 1px;
    font-size: smaller;
}

.EditorObjOverlapSelectStyle {
    z-index: 1000;
    position: absolute;
    display: none;
    padding: 12px;
}

.EditorObjOverlapSelectStyle select {
    background-color: rgba(255,255,255,.87);
    border: 1px solid rgba(0,0,0,.12);
}

.EditorObjOverlapSelectStyle a {
    width: 48px;
    min-width: 0;
    padding: 0;
    margin: 0;
}

/*Assets Left Toolbar*/

/* leftPanelToggleOnOff*/
.AssetsToggleStyle {
    position:absolute;
    top:1px;
    width: 20%;
    left:0;
    z-index: 999;
    cursor: pointer;
    padding-top:5px;
}

.AssetsToggleStyle i {
    display:block;
    cursor: pointer;
}

.AssetsToggleOn {
    width: 20%;
}

.AssetsToggleOff {
    width: 4%;
}

#assetCategTab{
    margin-top:30px;
    background-color:black;
    padding:0px;
}





/* rightPanelToggleOnOff*/
.HierarchyToggleStyle {
    position:absolute;
    top:1px;
    width: 15%;
    right:0;
    z-index: 999;
}

.HierarchyToggleStyle i {
    display:block;
    cursor: pointer;
}

.HierarchyToggleOn {
    width: 15%;
}

.HierarchyToggleOff {
    width: 4%;
}

.right-elements-panel-style {
    position: absolute;
    right: 0;
    top: 0;
    width:15%;
    height:70%;
    background-color: rgba(0,0,0,0.12);
    /*border: 1px solid rgba(0,0,0,.5);*/
    z-index:2;
}

.row-right-panel {
    width:100%;
    display:flex;
    margin-bottom:1px;
}



.VrWalkInButtonStyle a i, .EditorObjOverlapSelectStyle a i {
    /*padding-top: 4px;*/
}

/*Right Panel*/

/*row1*/
.VrEditorFullscreenBtnStyle {
    width:50%;
    position: absolute;
    /*right: 4%;*/
    /*top: 2px;*/
    z-index:1500;
}

.VrEditorOptionsBtnStyle {
    width:100%;
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 2px;*/
    /*width: 48px;*/
    /*min-width: 0;*/
    /*padding: 0;*/
    /*margin: 0;*/
}


/*row2*/
.EditorTourToggleBtn {
    width:20%;
    min-width: 20px;
    padding:0px;
    padding-top:3px;
    /*display:inline;*/
    /*position: absolute;*/
    /*right: 15%;*/
    /*top: 4%;*/
}

.EditorDimensionToggleBtn {
    width:20%;
    min-width: 20px;
    padding:0px;
    /*position: absolute;*/
    /*right: 10%;*/
    /*top: 4%;*/
}

.VrWalkInButtonStyle {
    width:35%;
    min-width: 30px;
    z-index: 1200;
    /*display:block;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 4%;*/
}

.ThirdPersonVrWalkInButtonStyle {
    width:25%;
    min-width: 20px;
    padding-top:4px;
    /*position: absolute;*/
    /*right: 5%;*/
    /*top: 4%;*/
}

/*row3*/
.ObjectManipulationToggle {
    /*overflow: hidden;*/
    background: transparent;
    display:inline-flex;
    /*position: absolute;*/
    /*top: 8%;*/
    /*right:0;*/
    width:100%;
}

.ObjectManipulationToggle input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.ObjectManipulationToggle label {
    /*float: left;*/
}

.ObjectManipulationToggle label {
    /*display: inline-block;*/
    width: 80px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
}

.ObjectManipulationToggle label:hover {
    cursor: pointer;
}

.ObjectManipulationToggle input:checked + label {
    background-color: #3f51b5;
    color:#ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ObjectManipulationToggle label:first-of-type {
    border-radius: 0px 0 0 0px;
}

.ObjectManipulationToggle label:last-of-type {
    border-radius: 0px 0 0 0px;
}

/*row5 Axis size*/
.AxisManipulationBtns {
    display:flex;
    margin-left:10px;
    margin-top:3px;
}

/*row6 Hierarchy viewer*/
#hierarchyViewerTitle{
    padding:3px;
    font-size:14px;
}


.HierarchyViewerStyle {
    display:flex;
    width: 100%;
    /*overflow-y: auto;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 30%;*/
    background-color: #dfdfdf;
}

#hierarchy-viewer{
    padding:0px;

}

#hierarchy-viewer li{
    padding-left:5px;

}


.hierarchyItem {
    width:100%
}

.hierarchyItemName {
    font-size: 9pt;
    line-height:12pt;
    width:80%
}

.hierarchyItemDelete {
    width:20%
}









.ToggleUIButtonStyle {
    position: absolute;
    left: calc(50% - 72px);
    top: 2px;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.ToggleUIButtonStyle i {
    font-size: 48px;
    cursor: pointer;
}



.RemoveAssetFromSceneBtnStyle {
    position: absolute;
    left: 372px;
    top: 10px;
    width: 48px;
    min-width: 0;
    padding: 0;
    margin: 0;
}

.SaveSceneBtnStyle {
    position: absolute;
    right: 1px;
    top: 2px;
    padding: 0;
    margin: 0;
    /*width: 130px;*/
}

.SaveBtnContainerStyle {
    position: absolute;
    text-align: center;
    top: 7px;
    right: 1px;
}




.RemoveAssetFromSceneBtnStyle i, .VrEditorOptionsBtnStyle i, .HierarchyToggleStyle i, .EditorTourToggleBtn a i, .ThirdPersonVrWalkInButtonStyle a i {
    padding-top: 4px;
}


.pauseRenderingDivStyle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    padding: 0;
    margin: 0;
    z-index:999;
}

#pauseRendering {
    width:40px;
    min-width:30px;
    padding:0;
    padding-top: 4px;
    margin: 0;
    background:gray;
}






.AxisManipulationBtns a {
    min-width: 0;
    margin: 0 0 0 0px;
    height: 18px;
    vertical-align: top;
    line-height: 1.5em;
}




button, html [type="button"], [type="reset"], [type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
}




/*CARD STYLING*/
#scenesInsideVREditor{
    position:absolute;
    display:inline-flex;
    height:17%;
    width:90%;
    left:0;
    bottom:0;
    z-index:1000;
    background:rgba(0, 0, 0, 0.12);
    padding-left:60px !important;
    padding-top:5px;
}

.SceneCardContainer {
    width: 150px;
    padding-left:20px;
}

.sceneTab{
    /*height:100px;*/
    display:block;
    background: transparent;
}

.SceneThumbnail {
    position:relative;
    width:100%;
    height:80px;
    max-height:80px;
    min-height:50px;
    text-align: center;
    overflow: hidden;
}

.sceneDisplayBlock {
    display: block;
    width: 100%;
    height: 100%;
}

.sceneDisplayBlock a {
    width: 100%;
    height: 100%;
}

.sceneDisplayBlock a img {
    width: 100%;
    height: 100%;
}


.landscapeIcon {
    font-size: 34px; padding-top: 20px;
}

/*.SceneThumbnail a {*/
/*    display: block;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    !*height: 100%;*!*/
/*}*/

/*.SceneThumbnail a img {*/
/*    position: absolute;*/
/*    height:80px;*/
/*    max-height:80px;*/
/*    min-height:50px;*/
/*    overflow: hidden;*/
/*    -webkit-transform: translate(-50%,-50%);*/
/*    -ms-transform: translate(-50%,-50%);*/
/*    transform: translate(-50%,-50%);*/
/*}*/

.cardTitleDeleteWrapper {
    width:100%;
    max-height:30px;
    background:white;
 }

.cardTitle{
    width: 70%;
    margin:0px;
    font-size:14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:5px;
}

.cardDeleteIcon {
    float:right;
    right:0;
    min-width:30px;
    margin: 0 !important;
    max-height:25px;
    padding:0px;
    margin-top:3px;
}

/*.cardDescription{*/
/*    padding:0px;*/
/*    margin:0px;*/
/*    font-size:12px;*/
/*}*/

.deleteIconMaterial{
    font-size:18px;
}


.ImageContainer {
    width:100%;
    height:80px;
    max-height:80px;
    min-height:50px;
    position:relative;
    text-align: center;
    overflow: hidden;
}


.ImageContainer img {
    position: absolute;
    /*min-height: 225px;*/
    /*width: auto;*/
    height: 100%;
    overflow: hidden;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: block;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

