@charset "utf-8";

[draggable=true] {
	cursor: move;
}

.filemanager {
	position: absolute;
	width: 20%;
	right: 0;
	background-color: rgba(0, 0, 0, 0.12);
}

/*  For Mobiles
@media all and (max-width: 800px) {
	.filemanager {
		margin: 5% auto 0;
		padding: 1px;
	}
}
*/

.filemanager .bt_close_file_toolbar{
	color: #000;
	width: 100%;
	background-color:#888;
	text-align: center;
	font-size: 0.8vw;
	max-font-size: 20pt;
	font-weight: 400;
	line-height: 1.8vw;
	cursor: pointer;
}

/*-------------------------
	Breadcrumbs
-------------------------*/

.filemanager .breadcrumbs {
	color: #262626;
	padding-left: 4%;
	font-size: 0.8vw;
	max-font-size:14pt;
	font-weight: 400;
	line-height: 1.6vw;
}

.filemanager .breadcrumbs a:link, .breadcrumbs a:visited {
	color: #272729;
	text-decoration: none;
}

.filemanager .breadcrumbs a:hover {
	text-decoration: underline;
}

.filemanager .breadcrumbs .arrow {
	color: #7fb1cf;
	font-size: 0.8vw;
	/*max-font-size:14pt;*/
	/*font-weight: 700;*/
	/*line-height: 2.2vw;*/
}


/*-------------------------
	Search box
-------------------------*/
.filemanager .search {
	position: relative;
	cursor: pointer;
	font-size: 1.5vw;
	/*color: #000;*/
	/*background-color:#ccc;*/
	background-color:transparent;
	display: block;
	width: 100%;
	height: 2.2vw;
}

/* Search input */
.filemanager .search input[type=search] {
	/*border: 2px;
	background-color: #FFF;*/
	width: 80%;
	height: 2vw;
	padding-left: 0.2vw;
	padding-right: 0.2vw;
	/*font-size: 1.4vw;*/
	font-weight: 400;
	line-height: 2vw;
	display: none;
	outline: none;
	border: none;

	-webkit-appearance: none;
}

/*::-webkit-input-placeholder { !* WebKit browsers *!
	color:    #4d535e;
}
:-moz-placeholder { !* Mozilla Firefox 4 to 18 *!
	color:    #4d535e;
	opacity:  1;
}
::-moz-placeholder { !* Mozilla Firefox 19+ *!
	color:    #4d535e;
	opacity:  1;
}
:-ms-input-placeholder { !* Internet Explorer 10+ *!
	color:    #4d535e;
}*/


/*-------------------------
	Content area
-------------------------*/

/* The container of the folders */
.filemanager .data {
	z-index: -3;
	overflow-y: scroll;
	margin: 0;
	padding: 0 0 0 6px;
}

.filemanager .data.animated {
	-webkit-animation: showSlowlyElement 300ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 300ms; /* Standard syntax */
}

.filemanager .data li {

	border-radius: 2%;
	background-color: #fff;
	overflow: hidden;
	z-index: 1;

	margin: 4px 0 4px 0;
	transition: 0.3s background-color;
}


.FileListItemName {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.FileListItemName span {
	font-size: 12px;
	overflow: visible;
	white-space: normal;
	line-height: 130%;
}

.FileListItemImg {
	border-radius: 0;
	top:0;
}

.FileListItemFooter {
	position: absolute;
	bottom: 0;
	right:0;
}

/* --------- Nothing FOUND -------------*/
.filemanager .nothingfound {
	/*background-color: #ffffff;*/
	/*opacity: 0.1;*/
	width: 97%;
	height: 14vw;
	margin: 0 auto;
	display: none;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-animation: showSlowlyElement 300ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 300ms; /* Standard syntax */
}

.filemanager .nothingfound .nofiles {
	margin: 1vw auto;
	top: 1vw;
	/*border-radius: 50%;*/
	position:relative;
	/*background-color: #d72f6e;*/
	width: 10vw;
	height: 10vw;
	line-height: 10vw;
}
.filemanager .nothingfound .nofiles:after {
	/*content: 'x';*/
	/*position: relative;*/
	/*color: #ffffff;*/
	/*font-size: 10vw;*/
	/*margin-left: 2vw;*/
	/*right: 0;*/
}

.filemanager .nothingfound span {
	margin: auto;
	display: table;
	color: #ffffff;
	font-size: 0.6vw;
	font-weight: 700;
	line-height: 0.8vw;
	position: relative;
	top: 0.2vw;
}


/*@media all and (max-width:250px) {*/

/*.filemanager .data li {*/
/*width: 100%;*/
/*margin: 5px 0;*/
/*}*/

/*}*/

/* Chrome, Safari, Opera */
@-webkit-keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}

/* Standard syntax */
@keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}


/*-------------------------
		Icons
-------------------------*/

.icon.file.f-1{
	box-shadow: 1.74em -2.1em 0 0 #7e70ee inset;
}

.icon.file.f-2{
	box-shadow: 1.74em -2.1em 0 0 #0070ee inset;
}

.icon.file.f-3{
	box-shadow: 1.74em -2.1em 0 0 #007000 inset;
}

.icon.file.f-4{
	box-shadow: 1.74em -2.1em 0 0 #0000ee inset;
}


.icon.file.f-avi,
.icon.file.f-flv,
.icon.file.f-mkv,
.icon.file.f-mov,
.icon.file.f-mpeg,
.icon.file.f-mpg,
.icon.file.f-mp4,
.icon.file.f-m4v,
.icon.file.f-wmv {
	box-shadow: 1.74em -2.1em 0 0 #7e70ee inset;
}
.icon.file.f-avi:after,
.icon.file.f-flv:after,
.icon.file.f-mkv:after,
.icon.file.f-mov:after,
.icon.file.f-mpeg:after,
.icon.file.f-mpg:after,
.icon.file.f-mp4:after,
.icon.file.f-m4v:after,
.icon.file.f-wmv:after {
	border-bottom-color: #5649c1;
}

.icon.file.f-mp2,
.icon.file.f-mp3,
.icon.file.f-m3u,
.icon.file.f-wma,
.icon.file.f-xls,
.icon.file.f-xlsx {
	box-shadow: 1.74em -2.1em 0 0 #5bab6e inset;
}
.icon.file.f-mp2:after,
.icon.file.f-mp3:after,
.icon.file.f-m3u:after,
.icon.file.f-wma:after,
.icon.file.f-xls:after,
.icon.file.f-xlsx:after {
	border-bottom-color: #448353;
}

.icon.file.f-doc,
.icon.file.f-docx,
.icon.file.f-psd{
	box-shadow: 1.74em -2.1em 0 0 #03689b inset;
}

.icon.file.f-doc:after,
.icon.file.f-docx:after,
.icon.file.f-psd:after {
	border-bottom-color: #2980b9;
}

.icon.file.f-gif,
.icon.file.f-jpg,
.icon.file.f-jpeg,
.icon.file.f-pdf,
.icon.file.f-png {
	box-shadow: 1.74em -2.1em 0 0 #e15955 inset;
}
.icon.file.f-gif:after,
.icon.file.f-jpg:after,
.icon.file.f-jpeg:after,
.icon.file.f-pdf:after,
.icon.file.f-png:after {
	border-bottom-color: #c6393f;
}

.icon.file.f-deb,
.icon.file.f-dmg,
.icon.file.f-gz,
.icon.file.f-rar,
.icon.file.f-zip,
.icon.file.f-7z {
	box-shadow: 1.74em -2.1em 0 0 #867c75 inset;
}
.icon.file.f-deb:after,
.icon.file.f-dmg:after,
.icon.file.f-gz:after,
.icon.file.f-rar:after,
.icon.file.f-zip:after,
.icon.file.f-7z:after {
	border-bottom-color: #685f58;
}

.icon.file.f-html,
.icon.file.f-rtf,
.icon.file.f-xml,
.icon.file.f-xhtml {
	box-shadow: 1.74em -2.1em 0 0 #a94bb7 inset;
}
.icon.file.f-html:after,
.icon.file.f-rtf:after,
.icon.file.f-xml:after,
.icon.file.f-xhtml:after {
	border-bottom-color: #d65de8;
}

.icon.file.f-js {
	box-shadow: 1.74em -2.1em 0 0 #d0c54d inset;
}
.icon.file.f-js:after {
	border-bottom-color: #a69f4e;
}

.icon.file.f-css,
.icon.file.f-saas,
.icon.file.f-scss {
	box-shadow: 1.74em -2.1em 0 0 #44afa6 inset;
}
.icon.file.f-css:after,
.icon.file.f-saas:after,
.icon.file.f-scss:after {
	border-bottom-color: #30837c;
}



/*.filemanager ::-webkit-scrollbar {
	width: 0.6vw;
	height: 0.6vw;
}

.filemanager ::-webkit-scrollbar-button {
	background: #fff;
}
.filemanager ::-webkit-scrollbar-track-piece {
	background: #000;
}
.filemanager ::-webkit-scrollbar-thumb {
	background: #eee;
}​*/


.ObjectManipulationToggle {

	overflow: hidden;
	background: transparent;
	position: absolute;
	top: 20px;
	left: 250px;
}

.ObjectManipulationToggle input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.ObjectManipulationToggle label {
	float: left;
}

.ObjectManipulationToggle label {
	display: inline-block;
	width: 60px;
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	text-shadow: none;
	padding: 6px 14px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

.ObjectManipulationToggle label:hover {
	cursor: pointer;
}

.ObjectManipulationToggle input:checked + label {
	background-color: #A5DC86;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ObjectManipulationToggle label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.ObjectManipulationToggle label:last-of-type {
	border-radius: 0 4px 4px 0;
}