/* Three js */
.VrEditorMainStyle {
    background-color: #eee;
    position: relative;
    width: 100%;
    height: 600px;
    z-index: 999;
}

/* Php info top right */
.VrInfoPhpStyle {
    font-size:0.6vw;
    max-font-size: 20pt;
    background:rgba(255, 255, 255, .7);
    color:#000;
    position: absolute;
    text-align: center;
    top: 0;
    left: 40%;
    width: 20%;
    padding: 2px;
}

.bt_textify {
    font-size: 14px;
    background:#000;
    color: #fff;
    margin-top: 5px;
    padding: 2px;
    cursor:pointer;
}

#formdiv{
    font-size: 1vw;
    overflow-y: scroll;
    max-height:40%;
    width:50%;
    position:absolute;
    bottom:0;
    opacity:0.5;
}

#paramsform {
    font-size: 0.6vw;
    background:#eee;
    color:#000;
    padding: 10px;
}

#paramsform input{
    font-size: 0.6vw;
}

.VrGuiContainerStyle {
    position: absolute;
    text-align: left;
    top: 100px;
    left: 0;
    width: 20%;
    padding: 0;
}

/* Progress bar */
.ProgressContainerStyle {
    top: 7em;
    width: auto;
    font-variant: small-caps;
    z-index: 100;
    text-align: center;
    display: none;
}

#progressbar {
    text-align: center;
    background: white;
    width: auto;
    height: 5px;
}

#scene_loading_bar {
    background:#64dee3;
    width:auto;
    height:5px;
}

.enabled {
    color: lime!important;
    cursor:pointer;
}

.enabled:hover {
    text-shadow: #0f0 0 0 0 !important;
}

.disabled {
    background:gray;
    cursor:default;
}



/* Links have red color 
a { color:red }
*/

/* This disables the mouse rotation of canvas 
canvas { pointer-events:none; z-index:10; }
*/

/* Result */
.result {
    margin: 1px;
    font-size: smaller;
}
/* ---------------------------------------------- */

#popUpDiv{
    z-index: 100;
    position: absolute;
    background-color: rgba(123, 123,123, 0.8);
    display: none;
}
#popupSelect{
    z-index: 1000;
}

/* ------------------------------------------ */

.VrWalkInButtonStyle {
    position: absolute;
    width: 20%;
    margin-left: 40%;
    bottom: 12px;
    background-color: rgba(0,0,0,.4);
    border-radius: 6px;
}

.VrWalkInButtonStyle:hover {
    background-color: rgba(0,0,0,.6);
}

.VrWalkInButtonTextStyle {
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

/* ------------ Button full screen ------------------- */
.VrEditorFullscreenBtnBGStyle {
    position: absolute;
    width: 40px;
    right: 12px;
    height: 44px;
    bottom: 12px;
    border-radius: 6px;
    background-color: rgba(0,0,0,.4);
}


.VrEditorFullscreenBtnBGStyle:hover {
    background-color: rgba(0,0,0,.6);
}

.VrEditorFullscreenBtnStyle {
    position: absolute;
    right:3px;
    text-align: center;
    display:block;
    margin: 4px 0 0 0;
    color:white;
    cursor: pointer;
}

.VrEditorFullscreenBtnStyle i {
    font-size: 36px;
}

.ObjectManipulationToggle {
    overflow: hidden;
    background: transparent;
    position: absolute;
    top: 20px;
    left: 20px;
}

.ObjectManipulationToggle input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.ObjectManipulationToggle label {
    float: left;
}

.ObjectManipulationToggle label {
    display: inline-block;
    width: 84px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
}

.ObjectManipulationToggle label:hover {
    cursor: pointer;
}

.ObjectManipulationToggle input:checked + label {
    background-color: #3f51b5;
    color:#ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ObjectManipulationToggle label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.ObjectManipulationToggle label:last-of-type {
    border-radius: 0 4px 4px 0;
}