@charset "utf-8";

[draggable=true] {
	cursor: move;
}

.filemanager {
	position: absolute;
	width: 20%;
	height:70%;
	left: 0;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.12);
	/*padding: 0 6px 0 6px;*/
}


/*  For Mobiles
@media all and (max-width: 800px) {
	.filemanager {
		margin: 5% auto 0;
		padding: 1px;
	}
}
*/



/*-------------------------
	Breadcrumbs
-------------------------*/

/*.filemanager .breadcrumbs {*/
/*	color: #262626;*/
/*	padding-left: 4%;*/
/*	font-size: 0.8vw;*/
/*	max-font-size:14pt;*/
/*	font-weight: 400;*/
/*	line-height: 1.6vw;*/
/*}*/

/*.filemanager .breadcrumbs a:link, .breadcrumbs a:visited {*/
/*	color: #272729;*/
/*	text-decoration: none;*/
/*}*/

/*.filemanager .breadcrumbs a:hover {*/
/*	text-decoration: underline;*/
/*}*/

/*.filemanager .breadcrumbs .arrow {*/
/*	color: #7fb1cf;*/
/*	font-size: 0.8vw;*/
/*	!*max-font-size:14pt;*!*/
/*	!*font-weight: 700;*!*/
/*	!*line-height: 2.2vw;*!*/
/*}*/


/*-------------------------
	Search box
-------------------------*/
.filemanager .search {
	position: relative;
	cursor: pointer;
	font-size: 1.5vw;
	/*background-color:transparent;*/
	display: block;
	width: 100%;
	height: 2.2vw;
}

/* Search input */
.filemanager .search input[type=search] {
	width: 80%;
	height: 30px;
	font-weight: 400;
	line-height: 30px;
	padding:5px;
	/*display: none;
	outline: none;
	border: none;
	-webkit-appearance: none;*/
}

/*-------------------------
	Content area
-------------------------*/

/* The container of the folders */
.filemanager .data {
	z-index: -3;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	/*-webkit-columns: 2;*/
	/*-moz-columns: 2;*/
	/*columns: 2;*/
	height:76%;
}

.filemanager .data li {
	position: relative;
	margin-left: 2%;
	margin-right: 1%;
	border-radius: 2px;
	background-color: #fff;
	overflow: hidden;
	z-index: 1;
	/*margin: 6px 0 6px 0;*/
	transition: 0.3s background-color;
	margin-bottom:5px;
	display:-webkit-inline-box;
	width:45%;
}

.megabytesAsset {
	position: absolute;
	bottom: 40%;
	left: 5px;
}


.FileListItemName {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: absolute;
	left: 5px;
	top: 0;
	font-size: 14px;
	text-shadow: 1px 1px 1px #fff;
}



.assetCategoryNameInList{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 60%;
}




.filebrowserahref {
	align-items: baseline;
	left: 0;
	padding: 0px 0 0px 0px;
	height: 100% !important;
	width: 100%;
}


.assetImg {
	width: 100%;
	height: 102%;
	position: absolute;
	margin-left: 0px;
	left: 0;
	z-index: -5;
	top: 0;
	bottom: 0;
	padding: 0;
}




.FileListItemImg {
	border-radius: 0;
	top:0;
}

.FileListItemFooter {
	width:100%;
	position: absolute;
	bottom: 0;
	left:0;
}

.editAssetbutton{
	height: 30px;
	font-size: 12px;
	width: 36px;
	line-height: 35px;
	min-width: 30px;
	padding: 0px;
}

.deleteAssetbutton {
	height: 30px;
	font-size: 8px;
	width: 30px;
	line-height: 35px;
	min-width: 50px;
	padding: 0px;
	float:right;
	right:0;
	bottom:0;
}

.viewAssetbutton {
	height: 30px;
	font-size: 12px;
	width: 40px;
	line-height: 35px;
	min-width: 50px;
	padding: 0px;
	float:right;
	right:0;
	bottom:0;
}




.editor-asset-tile-style:hover {
	background-color: rgba(63,81,181,0.1);
}

/*@media all and (max-width:250px) {*/

/*.filemanager .data li {*/
/*width: 100%;*/
/*margin: 5px 0;*/
/*}*/

/*}*/


/*-------------------------
		Icons
-------------------------*/

.icon.file.f-1{
	box-shadow: 1.74em -2.1em 0 0 #7e70ee inset;
}

.icon.file.f-2{
	box-shadow: 1.74em -2.1em 0 0 #0070ee inset;
}

.icon.file.f-3{
	box-shadow: 1.74em -2.1em 0 0 #007000 inset;
}

.icon.file.f-4{
	box-shadow: 1.74em -2.1em 0 0 #0000ee inset;
}


.icon.file.f-avi,
.icon.file.f-flv,
.icon.file.f-mkv,
.icon.file.f-mov,
.icon.file.f-mpeg,
.icon.file.f-mpg,
.icon.file.f-mp4,
.icon.file.f-m4v,
.icon.file.f-wmv {
	box-shadow: 1.74em -2.1em 0 0 #7e70ee inset;
}
.icon.file.f-avi:after,
.icon.file.f-flv:after,
.icon.file.f-mkv:after,
.icon.file.f-mov:after,
.icon.file.f-mpeg:after,
.icon.file.f-mpg:after,
.icon.file.f-mp4:after,
.icon.file.f-m4v:after,
.icon.file.f-wmv:after {
	border-bottom-color: #5649c1;
}

.icon.file.f-mp2,
.icon.file.f-mp3,
.icon.file.f-m3u,
.icon.file.f-wma,
.icon.file.f-xls,
.icon.file.f-xlsx {
	box-shadow: 1.74em -2.1em 0 0 #5bab6e inset;
}
.icon.file.f-mp2:after,
.icon.file.f-mp3:after,
.icon.file.f-m3u:after,
.icon.file.f-wma:after,
.icon.file.f-xls:after,
.icon.file.f-xlsx:after {
	border-bottom-color: #448353;
}

.icon.file.f-doc,
.icon.file.f-docx,
.icon.file.f-psd{
	box-shadow: 1.74em -2.1em 0 0 #03689b inset;
}

.icon.file.f-doc:after,
.icon.file.f-docx:after,
.icon.file.f-psd:after {
	border-bottom-color: #2980b9;
}

.icon.file.f-gif,
.icon.file.f-jpg,
.icon.file.f-jpeg,
.icon.file.f-pdf,
.icon.file.f-png {
	box-shadow: 1.74em -2.1em 0 0 #e15955 inset;
}
.icon.file.f-gif:after,
.icon.file.f-jpg:after,
.icon.file.f-jpeg:after,
.icon.file.f-pdf:after,
.icon.file.f-png:after {
	border-bottom-color: #c6393f;
}

.icon.file.f-deb,
.icon.file.f-dmg,
.icon.file.f-gz,
.icon.file.f-rar,
.icon.file.f-zip,
.icon.file.f-7z {
	box-shadow: 1.74em -2.1em 0 0 #867c75 inset;
}
.icon.file.f-deb:after,
.icon.file.f-dmg:after,
.icon.file.f-gz:after,
.icon.file.f-rar:after,
.icon.file.f-zip:after,
.icon.file.f-7z:after {
	border-bottom-color: #685f58;
}

.icon.file.f-html,
.icon.file.f-rtf,
.icon.file.f-xml,
.icon.file.f-xhtml {
	box-shadow: 1.74em -2.1em 0 0 #a94bb7 inset;
}
.icon.file.f-html:after,
.icon.file.f-rtf:after,
.icon.file.f-xml:after,
.icon.file.f-xhtml:after {
	border-bottom-color: #d65de8;
}

.icon.file.f-js {
	box-shadow: 1.74em -2.1em 0 0 #d0c54d inset;
}
.icon.file.f-js:after {
	border-bottom-color: #a69f4e;
}

.icon.file.f-css,
.icon.file.f-saas,
.icon.file.f-scss {
	box-shadow: 1.74em -2.1em 0 0 #44afa6 inset;
}
.icon.file.f-css:after,
.icon.file.f-saas:after,
.icon.file.f-scss:after {
	border-bottom-color: #30837c;
}

/*Tabs for filebrowser*/
/* Style the tab */
#assetCategTab {
	height:45px;
	width:100%;
	overflow: auto;
	/*overflow: hidden;*/
	/*text-overflow:ellipsis;*/
	white-space: nowrap;
	/*border: 1px solid #ccc;*/
	background-color: black;
	color:#fff;
	/*margin-bottom:5px;*/
}

/*!* Style the buttons that are used to open the tab content *!*/
#assetCategTab button {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background-color: inherit;
	font-size:12pt !important;
	font-weight: lighter !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width:70px;
	max-height:45px;
	padding-right:10px;
	padding-left:10px;
	/*margin:0px;*/


	/*float: left;*/
	/*border: none;*/
	/*outline: none;*/
	/*cursor: pointer;*/
	/*padding: 2px 4px;*/
	transition: 0.3s;
	background-color: black;
	color: white;
}

/*!* Change background color of buttons on hover *!*/
#assetCategTab button:hover {
	background-color: #ddd;
}

/*!* Create an active/current tablink class *!*/
#assetCategTab button.active {
	background-color: #40b1ee;
	color: white;
}

/*!* Style the tab content *!*/
/*.tabcontent {*/
	/*font-size:9pt !important;*/
	/*font-weight: lighter !important;*/
	/*padding: 2px 4px;*/
	/*border: 1px solid #ccc;*/
	/*border-top: none;*/
/*}*/


.addNewAsset3DEditor{
	height:70px; position:absolute; bottom:0; right:0; margin-right:5px; display:block; background:transparent;z-index:2000;
}