input#title.mdc-textfield__input,
input, textarea,
input[type="text"],
input[type="text"].mdc-textfield__input,
textarea.mdc-textfield__input,
.mdc-textfield__input
{
    background-color: transparent; !important
-webkit-box-shadow: none; !important
-moz-box-shadow: none; !important
-box-shadow: none; !important
box-shadow: none;  !important
-moz-border-radius: 0; !important
-webkit-border-radius: 0; !important
-border-radius: 0; !important
border-radius: 0; !important
border: 0; !important
background: transparent; !important
border-color: transparent; !important
}

textarea.mdc-textfield__input {
    resize: none;
}

.DarkBackgroundColor {
    background: rgba(0, 0, 0, .4);
}

.FrontPageStyle {
    min-height: 500px;
}

label {
    margin-bottom: 0;
}

.NewGameLabel {
    display: block;
}

.WhiteSpaceSeparator {
    margin-top:30px;
    margin-bottom: 30px;
    border:0px;
    color:white;
    display:table;
}

.CenterContents {
    text-align: center;
}

.SectionSwitchItemStyle {
    margin-right: 24px;
    display: inline-block;
}

.LinkDisabled {
    pointer-events: none;
    cursor: default;
    opacity: .54;
}

/* Breadcrumbs style */
ul.EditPageBreadcrumb {
    list-style: none;
    margin: -6px 0 0 0;
}

/* Display list items side by side */
ul.EditPageBreadcrumb li {
    display: inline;
}


.EditPageBreadcrumbSelected {
    font-weight: 700;
}

.EditPageBreadcrumbArr {
    transform: rotate(90deg);
    padding:0 0 0 16px;
    margin:0 -14px 0 -14px;
}

.PageHeaderStyle {
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
}

.PageHeaderStyle h1, .EditPageHeader h1 {
    width: auto;
    display: inline-block;
}




/* Accordion */
/* Style the buttons that are used to open and close the accordion panel */
a.EditPageAccordion {
    width: auto;
    text-align: left;
    font-weight: 500;
    transition: 0.4s;
    margin-bottom: 24px;
}

a.EditPageAccordion.active {
    font-weight: 800;
}

i.ButtonIcon {
    vertical-align: text-bottom;
    font-size:20px;
}

.ButtonFullWidth {
    margin-bottom: 24px;
    width: 100%;
    height: 48px;
}

/* Style the accordion panel. Note: hidden by default */
.EditPageAccordionPanel {
    padding: 0 18px;
    max-height: 0;
    height: 100%;
    overflow: hidden;
    display: block;
    transition: max-height 0.2s ease-out;
}

.RadioButtonList li {
    display: flex;
}
.RadioButtonList li label {
    cursor: pointer;
    margin-bottom: 0;
}


.FullWidth {
    width: 100%;
}

.DisplayBlock {
    display: block;
    width: 100%;
    height: 100%;
}

.AddNewAssetBtnStyle {
    float: right;
}

.ToggleMoleculeBtnStyle {
    height: 48px;
    width: 100%;
    min-width: 100%;
    margin: 24px 0 24px 0;
    display: block;
}

.ToggleMoleculeBtnStyle i {
    vertical-align: text-top;
    font-size: 32px;
}

select[multiple].mdc-multi-select.mdc-list, select[size].mdc-multi-select.mdc-list {
    width: 100%;
}

@media screen and (max-width: 479px) {
    .SceneCardDescriptionStyle {
        min-height: 40px;
    }

    .mdc-layout-grid {
        /*grid-template-columns: repeat(1, minmax(0, 1fr))*/
    }



    .AddNewAssetBtnStyle {
        float: left;
        margin: 12px 0 12px 0;
    }

}
@media screen and (max-width: 670px) {
}
@media (max-width: 839px) and (min-width: 480px) {

    .SceneCardDescriptionStyle {
        min-height: 40px;
    }

    .mdc-layout-grid {
        /*grid-template-columns: repeat(6, minmax(0, 1fr));*/
    }

}
@media screen and (min-width: 839px) {
    .SceneCardDescriptionStyle {
        min-height: 68px;
    }
}

.AlignIconToBottom {
    vertical-align: bottom;
}

.AlignIconToMiddle {
    vertical-align: sub;
}

.progressSlider{
    display: block;
    position: relative;
    width: 100%;
    height: 4px;
    overflow: hidden;
}

.progressSliderLine{
    position:absolute;
    opacity: 0.4;
    background: #3F51B5;
    width: 150%;
    height: 5px;
}

.progressSliderSubLine, .progressSliderSubLineDeterminate {
    position: absolute;
    background: #3F51B5;
    height: 5px;
}

.progressSliderSubLineDeterminate {
    left: 0;
}


.progressIncrease{
    animation: increase 2s infinite;
}
.progressDecrease{
    animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
    from { left: -5%; width: 5%; }
    to { left: 130%; width: 100%;}
}
@keyframes decrease {
    from { left: -80%; width: 80%; }
    to { left: 110%; width: 10%;}
}


.PlotContainerStyle {
    box-sizing: border-box;
    width: 100%;
    height: 360px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
}

.ProducerChartStyle {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.PowerProductionGroupStyle {
    display: flex;
    width: 100%;
    margin-left: 36px;
}

.PowerProductionGroupStyle > span {
    height: 120px;
    float:left;
    margin: 13px;
    width: 12px;
}

/*Override default theme to correctly show jQuery UI styles*/
.ui-slider .ui-slider-handle:last-child {
    margin-left: 0 !important;
}

.ui-slider .ui-slider-handle {
    position: absolute !important;
    z-index: 2 !important;
    width: 1.2em !important;
    height: 1.2em !important;
    top: auto !important;
}

.ui-slider .ui-slider-handle::before {
    border: none;
    width: 1.2em !important;
    height: 1.2em !important;
    background-color: transparent;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    content: none !important;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.3em !important;
    margin-left: -.6em !important;
}

.ui-slider .ui-slider-handle:last-child { cursor: pointer; }


.ColorPickerSliderRed,
.ColorPickerSliderGreen,
.ColorPickerSliderBlue,
.ColorPickerSliderAlpha {
    clear: left;
    width: 100%;
    margin: 25px 15px 34px 15px;
}

.ColorPickerPreview {
    height: 170px;
    margin-top: 18px;
    background-image: none;
    width: 100%;
}

.ColorPickerSliderRed .ui-slider-range { background: #ef2929; }
.ColorPickerSliderRed .ui-slider-handle { border-color: #ef2929; }
.ColorPickerSliderGreen .ui-slider-range { background: #8ae234; }
.ColorPickerSliderGreen .ui-slider-handle { border-color: #8ae234; }
.ColorPickerSliderBlue .ui-slider-range { background: #729fcf; }
.ColorPickerSliderBlue .ui-slider-handle { border-color: #729fcf; }

.asset-image-tile-style {
    -webkit-filter: saturate(70%); /* Safari 6.0 - 9.0 */
    filter: saturate(70%);
    -webkit-transition: -webkit-filter 0.16s linear; /* Safari */
    transition: filter 0.16s;
    cursor: pointer;
}

.asset-image-tile-style:hover {
    -webkit-filter: saturate(100%); /* Safari 6.0 - 9.0 */
    filter: saturate(100%);
    -webkit-transition: -webkit-filter 0.16s linear; /* Safari */
    transition: filter 0.16s;
    cursor: pointer;
}

.connectedSortable {
    cursor: pointer;
}

.connectedSortable li {
    list-style-type: none;
    list-style-image: none;
}

.CursorPointer {
    cursor: pointer;
}

.CursorDefault {
    cursor: default;
}

.TextUnselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* jimver04 additions */
#backtotop {
    z-index : 100 !important;
}

#header.sticky-header {
    z-index: 100 !important;
}


.helpButton {
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:24px;
    padding:7px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-left:10px;
}
.helpButton:hover {
    background-color:#5cbf2a;
}
.helpButton:active {
    position:relative;
    top:1px;
}

.editasseturl {
    height: 100%;
    display: flex;
}

.asset-shared-thumbnail {
    width: 100%;
    /*max-width:265px;*/
    /*height:100% !important;*/
    /*min-height:100px;*/
    /*max-height:150px;*/
}

.sharedAssetsIndicator {
    bottom: 0;
    right: 0;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
}

.assetsListCardTitle{
    top: 0;
    left: 5px;
    position: absolute;
    padding-top: 0px !important;
    font-size:12pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow:2px 2px 5px #fff;
    max-width:70%;
}

.sharedAssetsUsername {
    top: 25px;
    left: 8px;
    position: absolute;
    /*text-shadow:4px 4px 6px #fff;*/
    /*mix-blend-mode: difference;*/
}

.assetsListCardCategory{
    top: 50px;
    left: 8px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow:2px 2px 5px #fff;
    font-size:10pt;
    max-width:90%;
    padding-top:5px;
}


.deleteAssetListButton{
    top: 0px;
    right: 0px;
    position: absolute;
    font-size:6pt;
    padding:2px !important;
    min-width:20px;
    line-height: 1.1em;
}


.assetsListCard {
    padding:10px;
    padding-top:0px;
    padding-bottom:0px;
}

#poiImgDetailsPanel_preview{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#poiVideoDetailsPanel{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    /*margin-left:0%;*/
}

#poiVideoDetailsPanel_preview{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    /*margin-left:0%;*/
}


.assetsListCardActions{
    padding:0px !important;
}





.editAssetListButton{
    font-size:8pt;
}

.addAssetCardIcon{
    font-size:52pt;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;
    position:absolute;
}

.addAssetCardWords {
    font-size: 12pt;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    display:block;
}




 /*Language tabs front-end*/
.wrapper_lang {
    position: relative;
}

.tab-container_lang {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
}


.tab-container_lang:target { display: block}
.tab-container_lang:not(:target) { display: none !important }

/* just for demo */
.langul  {
    list-style: none;
}

.langli  {
    display: inline-block;
    padding:0 12px !important;
}




/*.wrapper {*/
/*    position: relative;*/
/*}*/
/*.tab-container {*/
/*    display: none;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background: red;*/
/*}*/

/*.tab-container:first-child { display: block }*/

/*:target { display: block }*/



/*!* just for demo *!*/

/*ul {*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*li {*/
/*    display: inline-block;*/
/*    margin-right: 1rem;*/
/*}*/




.asset3d_desc_view{
    width:100%;
    margin-top:30px;
    color: dimgray;
    white-space:pre-line;
    text-shadow: 1px #0bb697;
}



/*Font Select*/
.font-select * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.font-select {
    font-size: 16px;
    width: 40%;
    margin-left:60%;
    position: relative;
    display: inline-block;
}

.font-select .fs-drop {
    position: absolute;
    display:contents;
    top: 38px;
    left: 0;
    z-index: 999;
    background: #fff;
    color: #000;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    box-shadow: 0 4px 5px rgba(0,0,0,.15);
    border-radius: 0 0 4px 4px;
}

.font-select > span {
    outline: 0;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 38px;
    line-height: 32px;
    padding: 3px 8px 3px 8px;
    color: #444;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23303030' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.font-select-active > span {
    background-color: #eee;
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;
}

.font-select .fs-results {
    max-height: 190px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.font-select .fs-results li {
    line-height: 80%;
    padding: 8px;
    margin: 0;
    list-style: none;
    font-size: 18px;
    white-space: nowrap;
}

.font-select .fs-results li.active {
    background-color: #3875d7;
    color: #fff;
    cursor: pointer;
}

.font-select .fs-search {
    border-bottom: 1px solid #aaa;
    padding: 4px;
}

.font-select .fs-search input {
    padding: 7px;
    width: 100%;
    border: 1px solid #aaa;
    font: 16px Helvetica, Sans-serif;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
    border-radius: .1875rem;
}


#assetTitleView{
    width:100%;
    color: orangered;
    text-shadow: 2px 2px 2px aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 32px;
    text-decoration: inherit;
    text-transform: inherit;
}

#text-asset-sidebar {
    padding:15px;
    height:100% !important;
    width:40%;
    background:white;
    border:0px solid black;
    z-index:1000;
    overflow-y:auto;
}

#content {
    padding:0!important;
}

video {
    width: 100%;
    height: auto;
}

/*Carousel in asset view*/

.mySlides {display: none}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    /*background-color: #717171;*/
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}


.sidebar-shared-assets-front {
    width: 30%;
    float: right;
    top: 0;
    right: 0;
    padding-right: 5px;
    position:absolute;

}

@media only screen and (max-width: 1024px) {
    .sidebar-shared-assets-front {display: none;}
}

.assets-list-front {
    width:70%;
    float:left;
    padding-top:5px;
    padding-left:5px;
}

@media only screen and (max-width: 1024px) {
    .assets-list-front {width: 100%;}
}


@media only screen and (min-width: 801px) and (max-width: 1024px) {
    .grid-system-custom {grid-template-columns: repeat(12, minmax(0, 1fr))}
}

@media only screen and (min-width: 601px) and (max-width: 801px) {
    .grid-system-custom {grid-template-columns: repeat(9, minmax(0, 1fr))}
}


@media only screen and (max-width: 600px) {
    .grid-system-custom {grid-template-columns: repeat(1, minmax(0, 1fr))}
}

#colophon {
    margin:5px;
}


.hideAtLocked{
    font-size: large;
}


/* Style the tab */
.tab2 {
    overflow: hidden;
    border: 1px solid #fff;
    background-color: #f1f1f1;
}



/* Style the buttons inside the tab */
.tab2 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab2 button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab2 button.active {
    background-color: #fff !important;
}

/* Style the tab content */
.tabcontent2 {
    display: none;
    padding: 6px 12px;
    border: 1px solid #fff;
    border-top: none;
}

.tabcontent2 active {
    background-color: #fff !important;
}