input#title.mdc-textfield__input,
input, textarea,
input[type="text"],
input[type="text"].mdc-textfield__input,
textarea.mdc-textfield__input,
.mdc-textfield__input
{
    background-color: transparent; !important
-webkit-box-shadow: none; !important
-moz-box-shadow: none; !important
-box-shadow: none; !important
box-shadow: none;  !important
-moz-border-radius: 0; !important
-webkit-border-radius: 0; !important
-border-radius: 0; !important
border-radius: 0; !important
border: 0; !important
background: transparent; !important
border-color: transparent; !important
}

textarea.mdc-textfield__input {
    resize: none;
}

.mdc-toolbar .mdc-tab-bar .mdc-tab--active, .mdc-toolbar .mdc-tab-bar .mdc-tab:hover {
    color: white;
}

.DarkBackgroundColor {
    background: rgba(0, 0, 0, .4);
}

.FrontPageStyle {
    min-height: 500px;
}

label {
    margin-bottom: 0;
}

.NewGameLabel {
    display: block;
}

.WhiteSpaceSeparator {
    margin-top:30px;
    margin-bottom: 30px;
    border:0;
}

.CenterContents {
    text-align: center;
}


/* Breadcrumbs style */
ul.EditPageBreadcrumb {
    list-style: none;
    margin: -6px 0 0 0;
}

/* Display list items side by side */
ul.EditPageBreadcrumb li {
    display: inline;
}


.EditPageBreadcrumbSelected {
    font-weight: 700;
}

.EditPageBreadcrumbArr {
    transform: rotate(90deg);
    padding:0 0 0 16px;
    margin:0 -14px 0 -14px;
}

.EditPageHeader {
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
}

.EditPageHeader h1 {
    width: auto;
    display: inline-block;
}

.EditPageHeader a {
    float: right;
    bottom: 0;
    right: 0;
    position: absolute;
}


.InlineContainer {

}

/* Accordion */
/* Style the buttons that are used to open and close the accordion panel */
a.EditPageAccordion {
    width: auto;
    text-align: left;
    font-weight: 500;
    transition: 0.4s;
    margin-bottom: 24px;
}

a.EditPageAccordion.active {
    font-weight: 800;
}

i.ButtonIcon {
    vertical-align: text-bottom;
    font-size:20px;
}


/* Style the accordion panel. Note: hidden by default */
.EditPageAccordionPanel {
    padding: 0 18px;
    max-height: 0;
    height: 100%;
    overflow: hidden;
    display: block;
    transition: max-height 0.2s ease-out;
}

.RadioButtonList li {
    display: flex;
}

.FullWidth {
    width: 100%;
}

.DisplayBlock {
    display: block;
    width: 100%;
    height: 100%;
}

/*CARD STYLING*/
.SceneThumbnail {
    min-height: 225px;
    min-width: 100%;
    max-height: 225px;
    text-align: center;
    overflow: hidden;
    position: relative;

}

.SceneThumbnail a {
    display: block;
    text-align: center;
    vertical-align: middle;
}

.SceneThumbnail a img {
    position: absolute;
    min-height: 225px;
    min-width: 100%;
    left: -50%;
    top: -20%;
    height: auto;
    width: auto;
    max-width: none;
    overflow: hidden;

}

.SceneCardContainer {
    min-height: 360px;
}

.AlignIconToBottom {
    vertical-align: bottom;
}

.progressSlider{
    display: block;
    position: relative;
    width: 100%;
    height: 4px;
    overflow: hidden;
}

.progressSliderLine{
    position:absolute;
    opacity: 0.4;
    background:#3F51B5;
    width:150%;
    height:5px;
}

.progressSliderSubLine{
    position:absolute;
    background:#3F51B5;
    height:5px;
}
.progressIncrease{
    animation: increase 2s infinite;
}
.progressDecrease{
    animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
    from { left: -5%; width: 5%; }
    to { left: 130%; width: 100%;}
}
@keyframes decrease {
    from { left: -80%; width: 80%; }
    to { left: 110%; width: 10%;}
}


.PlotContainerStyle {
    box-sizing: border-box;
    width: 100%;
    height: 360px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
}

.ProducerChartStyle {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.PowerProductionGroupStyle {
    width: 100%;
    margin-left: 12px;
}

.PowerProductionGroupStyle > span {
    height:120px; float:left; margin:13px
}