input#title.mdc-textfield__input,
input, textarea,
input[type="text"],
input[type="text"].mdc-textfield__input,
textarea.mdc-textfield__input,
.mdc-textfield__input
{
    background-color: transparent; !important
-webkit-box-shadow: none; !important
-moz-box-shadow: none; !important
-box-shadow: none; !important
box-shadow: none;  !important
-moz-border-radius: 0; !important
-webkit-border-radius: 0; !important
-border-radius: 0; !important
border-radius: 0; !important
border: 0; !important
background: transparent; !important
border-color: transparent; !important
}

textarea.mdc-textfield__input {
    resize: none;
}

.DarkBackgroundColor {
    background: rgba(0, 0, 0, .4);
}

.FrontPageStyle {
    min-height: 500px;
}

label {
    margin-bottom: 0;
}

.NewGameLabel {
    display: block;
}

.WhiteSpaceSeparator {
    margin-top:30px;
    margin-bottom: 30px;
    border:0;
}

.CenterContents {
    text-align: center;
}


/* Breadcrumbs style */
ul.EditPageBreadcrumb {
    list-style: none;
    margin: -6px 0 0 0;
}

/* Display list items side by side */
ul.EditPageBreadcrumb li {
    display: inline;
}


.EditPageBreadcrumbSelected {
    font-weight: 700;
}

.EditPageBreadcrumbArr {
    transform: rotate(90deg);
    padding:0 0 0 16px;
    margin:0 -14px 0 -14px;
}

.EditPageHeader {
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
}

.EditPageHeader h1 {
    width: auto;
    display: inline-block;
}

.EditPageHeader a {
    float: right;
    bottom: 0;
    right: 0;
    position: absolute;
}


/* Accordion */
/* Style the buttons that are used to open and close the accordion panel */
a.EditPageAccordion {
    width: auto;
    text-align: left;
    font-weight: 500;
    transition: 0.4s;
    margin-bottom: 24px;
}

a.EditPageAccordion.active {
    font-weight: 800;
}

i.ButtonIcon {
    vertical-align: text-bottom;
    font-size:20px;
}



/* Style the accordion panel. Note: hidden by default */
.EditPageAccordionPanel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.RadioButtonList li {
    display: flex;
}

.FullWidth {
    width: 100%;
}

/*CARD STYLING*/
.SceneThumbnail {
    overflow: hidden;
}


.SceneThumbnail img {
    min-height: 225px;
    min-width: 100%;
    left: 50%;
    top: 50%;
    height: 225px;
    width: auto;
    max-width: none;
}

.AlignIconToBottom {
    vertical-align: bottom;
}

.dropzone i {
    font-size: 48px;
}

.dropzone {
    border: 2px dashed #3f51b5;
    border-radius: 5px;
    background: white;
    padding: 20px;
    cursor: pointer;
}

.dropzone .dz-message {
    padding-top: 24px;
    text-align: center;
}

.dropzone .dz-message .note {
    font-size: 0.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}
