input#title.mdc-textfield__input,
input, textarea,
input[type="text"],
input[type="text"].mdc-textfield__input,
textarea.mdc-textfield__input,
.mdc-textfield__input
{
    background-color: transparent; !important
-webkit-box-shadow: none; !important
-moz-box-shadow: none; !important
-box-shadow: none; !important
box-shadow: none;  !important
-moz-border-radius: 0; !important
-webkit-border-radius: 0; !important
-border-radius: 0; !important
border-radius: 0; !important
border: 0; !important
background: transparent; !important
border-color: transparent; !important
}

textarea.mdc-textfield__input {
    resize: none;
}

.DarkBackgroundColor {
    background: rgba(0, 0, 0, .4);
}

.FrontPageStyle {
    min-height: 500px;
}

label {
    margin-bottom: 0;
}

.NewGameLabel {
    display: block;
}

.WhiteSpaceSeparator {
    margin-top:30px;
    margin-bottom: 30px;
    border:0;
}

.CenterContents {
    text-align: center;
}

.SectionSwitchItemStyle {
    margin-right: 24px;
    display: inline-block;
}

.LinkDisabled {
    pointer-events: none;
    cursor: default;
    opacity: .54;
}

/* Breadcrumbs style */
ul.EditPageBreadcrumb {
    list-style: none;
    margin: -6px 0 0 0;
}

/* Display list items side by side */
ul.EditPageBreadcrumb li {
    display: inline;
}


.EditPageBreadcrumbSelected {
    font-weight: 700;
}

.EditPageBreadcrumbArr {
    transform: rotate(90deg);
    padding:0 0 0 16px;
    margin:0 -14px 0 -14px;
}

.PageHeaderStyle {
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
}

.PageHeaderStyle h1, .EditPageHeader h1 {
    width: auto;
    display: inline-block;
}

.HeaderButtonStyle {
    float: right;
    margin-top:20px;
}


/* Accordion */
/* Style the buttons that are used to open and close the accordion panel */
a.EditPageAccordion {
    width: auto;
    text-align: left;
    font-weight: 500;
    transition: 0.4s;
    margin-bottom: 24px;
}

a.EditPageAccordion.active {
    font-weight: 800;
}

i.ButtonIcon {
    vertical-align: text-bottom;
    font-size:20px;
}

.ButtonFullWidth {
    margin-bottom: 24px;
    width: 100%;
    height: 48px;
}

/* Style the accordion panel. Note: hidden by default */
.EditPageAccordionPanel {
    padding: 0 18px;
    max-height: 0;
    height: 100%;
    overflow: hidden;
    display: block;
    transition: max-height 0.2s ease-out;
}

.RadioButtonList li {
    display: flex;
}
.RadioButtonList li label {
    cursor: pointer;
    margin-bottom: 0;
}


.FullWidth {
    width: 100%;
}

.DisplayBlock {
    display: block;
    width: 100%;
    height: 100%;
}

/*CARD STYLING*/
.SceneThumbnail, .ImageContainer {
    min-height: 225px;
    min-width: 100%;
    max-height: 225px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.SceneThumbnail a, .ImageContainer img {
    display: block;
    text-align: center;
    vertical-align: middle;
}

.SceneThumbnail a img, .ImageContainer img {
    position: absolute;
    /*min-height: 225px;*/
    width: auto;
    max-height: 225px;
    left: 50%;
    top: 50%;
    height: auto;
    overflow: hidden;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.SceneThumbnail a img {
    max-width: none;
}

.AddNewAssetBtnStyle {
    float: right;
}

.ToggleMoleculeBtnStyle {
    height: 48px;
    width: 100%;
    min-width: 100%;
    margin: 24px 0 24px 0;
    display: block;
}

.ToggleMoleculeBtnStyle i {
    vertical-align: text-top;
    font-size: 32px;
}

select[multiple].mdc-multi-select.mdc-list, select[size].mdc-multi-select.mdc-list {
    width: 100%;
}

@media screen and (max-width: 479px) {
    .SceneCardDescriptionStyle {
        min-height: 40px;
    }

    .mdc-layout-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }

    .SceneCardContainer {
        width: 100%;
    }

    .AddNewAssetBtnStyle {
        float: left;
        margin: 12px 0 12px 0;
    }

}
@media screen and (max-width: 670px) {
}
@media (max-width: 839px) and (min-width: 480px) {

    .SceneCardDescriptionStyle {
        min-height: 40px;
    }

    .mdc-layout-grid {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

}
@media screen and (min-width: 839px) {
    .SceneCardDescriptionStyle {
        min-height: 68px;
    }
}

.AlignIconToBottom {
    vertical-align: bottom;
}

.AlignIconToMiddle {
    vertical-align: sub;
}

.progressSlider{
    display: block;
    position: relative;
    width: 100%;
    height: 4px;
    overflow: hidden;
    top: 5px;
}

.progressSliderLine{
    position:absolute;
    opacity: 0.4;
    background: #3F51B5;
    width: 150%;
    height: 5px;
}

.progressSliderSubLine, .progressSliderSubLineDeterminate {
    position: absolute;
    background: #3F51B5;
    height: 5px;
}

.progressSliderSubLineDeterminate {
    left: 0;
}


.progressIncrease{
    animation: increase 2s infinite;
}
.progressDecrease{
    animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
    from { left: -5%; width: 5%; }
    to { left: 130%; width: 100%;}
}
@keyframes decrease {
    from { left: -80%; width: 80%; }
    to { left: 110%; width: 10%;}
}


.PlotContainerStyle {
    box-sizing: border-box;
    width: 100%;
    height: 360px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
}

.ProducerChartStyle {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.PowerProductionGroupStyle {
    display: flex;
    width: 100%;
    margin-left: 36px;
}

.PowerProductionGroupStyle > span {
    height: 120px;
    float:left;
    margin: 13px;
    width: 12px;
}

/*Override default theme to correctly show jQuery UI styles*/
.ui-slider .ui-slider-handle:last-child {
    margin-left: 0 !important;
}

.ui-slider .ui-slider-handle {
    position: absolute !important;
    z-index: 2 !important;
    width: 1.2em !important;
    height: 1.2em !important;
    top: auto !important;
}

.ui-slider .ui-slider-handle::before {
    border: none;
    width: 1.2em !important;
    height: 1.2em !important;
    background-color: transparent;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    content: none !important;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.3em !important;
    margin-left: -.6em !important;
}

.ui-slider .ui-slider-handle:last-child { cursor: pointer; }


.ColorPickerSliderRed,
.ColorPickerSliderGreen,
.ColorPickerSliderBlue,
.ColorPickerSliderAlpha {
    clear: left;
    width: 100%;
    margin: 25px 15px 34px 15px;
}

.ColorPickerPreview {
    height: 170px;
    margin-top: 18px;
    background-image: none;
    width: 100%;
}

.ColorPickerSliderRed .ui-slider-range { background: #ef2929; }
.ColorPickerSliderRed .ui-slider-handle { border-color: #ef2929; }
.ColorPickerSliderGreen .ui-slider-range { background: #8ae234; }
.ColorPickerSliderGreen .ui-slider-handle { border-color: #8ae234; }
.ColorPickerSliderBlue .ui-slider-range { background: #729fcf; }
.ColorPickerSliderBlue .ui-slider-handle { border-color: #729fcf; }

.asset-image-tile-style {
    -webkit-filter: saturate(70%); /* Safari 6.0 - 9.0 */
    filter: saturate(70%);
    -webkit-transition: -webkit-filter 0.16s linear; /* Safari */
    transition: filter 0.16s;
    cursor: pointer;
}

.asset-image-tile-style:hover {
    -webkit-filter: saturate(100%); /* Safari 6.0 - 9.0 */
    filter: saturate(100%);
    -webkit-transition: -webkit-filter 0.16s linear; /* Safari */
    transition: filter 0.16s;
    cursor: pointer;
}

.connectedSortable {
    cursor: pointer;
}

.connectedSortable li {
    list-style-type: none;
    list-style-image: none;
}

/* jimver04 additions */
#backtotop {
    z-index : 100 !important;
}

#header.sticky-header {
    z-index: 100 !important;
}
