$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-monospace: Menlo, Monaco, Consolas, "Ubuntu Mono", monospace;

$color-bg: #fff;
$color-fg: #07A0C3;
$color-btn: #FFF1D0;
$icon-size: 48px;

$color-primary: black;
$color-info: #31EF40;
$color-warning: #3a3005;
$color-error: #EE7600;
